{% extends 'scorekeeper/base.html' %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'player-matches' match.referee.username %}">{{match.referee}}</a>
          <small class="text-muted">{{object.match_datetime}}</small>
        </div>
        {% if object.referee == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'match-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'match-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
        <h2 class="article-title" >{{ object.id}}</h2>
          <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Player</th>
                      <th scope="col">Points on Match</th>
                      <th scope="col">Ranking Points</th>
                      <th scope="col">Ranking Change</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if object.outcome_a == 'W' %}
                    <tr class="table-success">
                    {% else %}
                    <tr class="table-danger">
                    {% endif %}
                      <th scope="row">{{object.outcome_a}}</th>
                      <td><a class="mr-2" href="{% url 'player-matches' match.player_a.username %}">{{object.player_a}}</a></td>
                      <td>{{ object.points_a }}</td>
                      <td>{{ object.player_a.profile.single_points }}</td>
                      <td>{{ object.player_a_increment }}</td>
                    </tr>
                    {% if object.outcome_b == 'W' %}
                    <tr class="table-success">
                    {% else %}
                    <tr class="table-danger">
                    {% endif %}
                      <th scope="row">{{object.outcome_b}}</th>
                      <td><a class="mr-2" href="{% url 'player-matches' match.player_b.username %}">{{object.player_b}}</a></td>
                      <td>{{object.points_b}}</td>
                      <td>{{object.player_b.profile.single_points}}</td>
                      <td>{{object.player_b_increment}}</td>
                    </tr>
                  </tbody>
                </table>
      </div>
    </article>
{% endblock content %}