{% extends 'scorekeeper/base.html' %}
{% block content %}
<h1 class="mb-3">Matches from {{ view.kwargs.username }} ({{ page_obj.paginator.count }}) </h1>
    {% for match in matches %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'player-matches' match.referee.username %}">{{match.referee}}</a>
              <small class="text-muted">{{match.match_datetime}}</small>
            </div>
            <h2>Game number: <a class="article-title" href="{% url 'match-detail' match.id %}">{{ match.id}}</a></h2>
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Player</th>
                      <th scope="col">Points on Match</th>
                      <th scope="col">Ranking Points</th>
                      <th scope="col">Ranking Change</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if match.outcome_a == 'W' %}
                    <tr class="table-success">
                    {% else %}
                    <tr class="table-danger">
                    {% endif %}
                      <th scope="row">{{match.outcome_a}}</th>
                      <td><a class="mr-2" href="{% url 'player-matches' match.player_a.username %}">{{match.player_a}}</a></td>
                      <td>{{ match.points_a }}</td>
                      <td>{{ match.player_a.profile.single_points }}</td>
                      <td>{{ match.player_a_increment }}</td>
                    </tr>
                    {% if match.outcome_b == 'W' %}
                    <tr class="table-success">
                    {% else %}
                    <tr class="table-danger">
                    {% endif %}
                      <th scope="row">{{match.outcome_b}}</th>
                      <td><a class="mr-2" href="{% url 'player-matches' match.player_b.username %}">{{match.player_b}}</a></td>
                      <td>{{match.points_b}}</td>
                      <td>{{match.player_b.profile.single_points}}</td>
                      <td>{{match.player_b_increment}}</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}